# Jupyter Notebook

In [2]:
! python --version

Python 3.12.0

In [3]:
print("Hello, World!")

Hello, World!

In [4]:
text = "Hello, World!"
print(text)

Hello, World!

In [5]:
text

'Hello, World!'

# Comment

In [6]:
# This is a comment
print("Hello, World!")

Hello, World!

In [7]:
print("Hello, World!") # This is a comment

Hello, World!

# Variable

In [8]:
x_text = "John"
x_int = 5
x_float = 5.0
x_bool = True # False
x_list = [1, 2, 3, 'abc']
x_dict = {'x': 5, 'y': 10}
x_none = None

In [9]:
x_text2 = """
my text line1
my text line2
"""
print(x_text2)

my text line1
my text line2

In [10]:
# casting
x = str(1)
y = int(1)
z = float(1)
a = bool(1)
x, y, z, a

('1', 1, 1.0, True)

In [11]:
# Legal variable names
myvar = "John" # recommended
my_var = "John" # recommended
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John" # recommended

In [12]:
# Illegal variable names
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid decimal literal (2068804592.py, line 2)

# Operator

## Mathematical operations

In [13]:
# plus
5 + 3

8

In [14]:
5.0 + 3.0

8.0

In [15]:
5.0 + 3

8.0

In [16]:
'5' + '3'

'53'

In [17]:
# minus
5 - 3

2

In [18]:
# multi
5 * 3

15

In [19]:
#divide
5 / 3

1.6666666666666667

In [20]:
# Floor division
5 // 3

1

In [21]:
5 % 3

2

In [22]:
5 ** 3 # 5^3

125

## Comparison operators

In [23]:
5 == 3

False

In [24]:
5 != 3

True

In [25]:
5 > 3

True

In [26]:
5 <  3

False

In [27]:
5 >= 3

True

In [28]:
5 <= 3

False

In [29]:
True and True

True

In [30]:
True and False

False

In [31]:
True or False

True

In [32]:
False or False

False

## Identity Operators

In [33]:
type(5.0)

float

In [34]:
type(5.0) is float

True

In [35]:
x = None
x is None

True

In [36]:
y = 5
y is not None

True

## Membership operators

In [37]:
5 in [3, 5]

True

In [38]:
5 not in [3, 5]

False

# List

In [39]:
mylist = ["apple", "cherry", "banana"]
mylist

['apple', 'cherry', 'banana']

In [40]:
mylist[0]

'apple'

In [41]:
mylist[-1]

'banana'

In [42]:
mylist[-3]

'apple'

In [43]:
len(mylist)

3

In [44]:
sorted(mylist)

['apple', 'banana', 'cherry']

In [45]:
sorted(mylist, reverse=True)

['cherry', 'banana', 'apple']

In [46]:
# add to last
mylist.append('strawberry')
mylist

['apple', 'cherry', 'banana', 'strawberry']

In [47]:
mylist[0] = 'coconut'
mylist

['coconut', 'cherry', 'banana', 'strawberry']

In [48]:
mylist[1:3]

['cherry', 'banana']

In [49]:
mylist[1:3] = ['grape1', 'grape2']
mylist

['coconut', 'grape1', 'grape2', 'strawberry']

In [50]:
# add by index
mylist.insert(2, "watermelon")
mylist

['coconut', 'grape1', 'watermelon', 'grape2', 'strawberry']

In [51]:
# remove by value
mylist.remove("strawberry")
mylist

['coconut', 'grape1', 'watermelon', 'grape2']

In [52]:
# remove by index
mylist.pop(1)
mylist

['coconut', 'watermelon', 'grape2']

# Loop

## For loop

In [53]:
# {}
# ;
# long double float -> float

In [54]:
mylist = ["apple", "cherry", "banana"]
for f in mylist:
  print(f)
print("1")

apple
cherry
banana
1

In [55]:
# mylist = [1,2,3,4,5..]
for i in range(3, 10):
  print(i)

3
4
5
6
7
8
9

## While loop

In [56]:
i = 0
while i < 5:
  print(i)
  i = i + 1

0
1
2
3
4

In [57]:
i = 0
while True:
  print(i)
  i = i + 1
  if i == 5:
    break

0
1
2
3
4

# Condition

In [58]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [59]:
a = 3
if a == 2:
  print("a2")
elif a == 3:
  print("a3")

a3

In [60]:
a = 1000
if a == 2:
  print("a2")
elif a == 3:
  print("a3")
elif a == 4:
  print("a4")
else:
  print(a)

1000

In [61]:
# oneline
a = 10
b = 5 if a < 3 else 10

In [62]:
if a <3:
  b = 5
else:
  b = 10

# Function

In [63]:
def add(a, b):
  return a + b

c = add(10, 15)
c

25

In [64]:
# ถ้า a มากกว่า 5 return a ถ้าไม่ใช่ ให้ return a+b
def add(a, b):
  if a > 5:
    return a
  else:
    return a + b

c = add(10, 15)
c

10

# Class and Object

In [65]:
# tkinter

In [66]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def get_age_next_5y(self):
    return self.age + 5

p1 = Person("John", 36)

print(p1.name)
print(p1.age)
print(p1.get_age_next_5y())

John
36
41

# File handling

In [67]:
text = "my first sentence 555"
with open("./myfile5.txt", 'w') as f: # 'a'
  f.write(text)
  print("a")
print("b")

a
b

In [68]:
with open("./myfile5.txt", 'r') as f:
  x = f.read()
x

'my first sentence 555'

# Pandas

In [69]:
import pandas as pd
cols = ['col1', 'col2', 'col3']
data = [[1, 2, 3], [4, 5, 6]]
df = pd.DataFrame(data=data, columns=cols)
df

   col1  col2  col3
0     1     2     3
1     4     5     6

In [70]:
# df.to_csv()

In [71]:
df[df['col1'] > 1]

   col1  col2  col3
1     4     5     6

In [72]:
data

[[1, 2, 3], [4, 5, 6]]

In [73]:
url = "https://raw.githubusercontent.com/ywchiu/riii/master/data/house-prices.csv"
df = pd.read_csv(url)
df

     Home   Price  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
0       1  114300  1790         2          2       2    No         East
1       2  114200  2030         4          2       3    No         East
2       3  114800  1740         3          2       1    No         East
3       4   94700  1980         3          2       3    No         East
4       5  119800  2130         3          3       3    No         East
..    ...     ...   ...       ...        ...     ...   ...          ...
123   124  119700  1900         3          3       3   Yes         East
124   125  147900  2160         4          3       3   Yes         East
125   126  113500  2070         2          2       2    No        North
126   127  149900  2020         3          3       1    No         West
127   128  124600  2250         3          3       4    No        North

[128 rows x 8 columns]

# API Call

- get
- post

In [76]:
import requests
import pandas as pd

In [79]:
# https://covid19.ddc.moph.go.th/
url = "https://covid19.ddc.moph.go.th/api/Cases/report-round-3-y21-line-lists"
res = requests.get(url, verify=False)

c:\Users\Wuttick\anaconda3\envs\stapp\Lib\site-packages\urllib3\connectionpool.py:1100: InsecureRequestWarning: Unverified HTTPS request is being made to host 'covid19.ddc.moph.go.th'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(

In [80]:
res.status_code

200

In [81]:
res.headers

{'Content-Type': 'application/json', 'Transfer-Encoding': 'chunked', 'Connection': 'keep-alive', 'Date': 'Wed, 08 Nov 2023 19:23:18 GMT', 'Cache-Control': 'no-cache, private', 'Access-Control-Allow-Origin': '*', 'X-Kong-Upstream-Latency': '24', 'X-Kong-Proxy-Latency': '0', 'Strict-Transport-Security': 'max-age=63072000; includeSubDomains; preload', 'X-Frame-Options': 'DENY', 'X-Content-Type-Options': 'nosniff', 'Via': 'kong/3.3.0'}

In [82]:
res.json()

{'data': [{'year': 2021,
   'weeknum': 13,
   'new_case': 168,
   'total_case': 29031,
   'new_case_excludeabroad': 135,
   'total_case_excludeabroad': 25901,
   'new_recovered': 242,
   'total_recovered': 27668,
   'new_death': 1,
   'total_death': 95,
   'case_foreign': 33,
   'case_prison': 0,
   'case_walkin': 113,
   'case_new_prev': 126,
   'case_new_diff': 42,
   'death_new_prev': 0,
   'death_new_diff': 1,
   'update_date': '2023-11-05 18:50:43'},
  {'year': 2021,
   'weeknum': 14,
   'new_case': 2627,
   'total_case': 31658,
   'new_case_excludeabroad': 2562,
   'total_case_excludeabroad': 28463,
   'new_recovered': 493,
   'total_recovered': 28161,
   'new_death': 2,
   'total_death': 97,
   'case_foreign': 65,
   'case_prison': 0,
   'case_walkin': 1549,
   'case_new_prev': 1922,
   'case_new_diff': 705,
   'death_new_prev': 2,
   'death_new_diff': 0,
   'update_date': '2023-11-05 18:50:43'},
  {'year': 2021,
   'weeknum': 15,
   'new_case': 8927,
   'total_case': 40585,
   'new_case_excludeabroad': 8890,
   'total_case_excludeabroad': 37353,
   'new_recovered': 409,
   'total_recovered': 28570,
   'new_death': 3,
   'total_death': 100,
   'case_foreign': 37,
   'case_prison': 0,
   'case_walkin': 6175,
   'case_new_prev': 8169,
   'case_new_diff': 758,
   'death_new_prev': 4,
   'death_new_diff': -1,
   'update_date': '2023-11-05 18:50:43'},
  {'year': 2021,
   'weeknum': 16,
   'new_case': 12437,
   'total_case': 53022,
   'new_case_excludeabroad': 12405,
   'total_case_excludeabroad': 49758,
   'new_recovered': 1996,
   'total_recovered': 30566,
   'new_death': 29,
   'total_death': 129,
   'case_foreign': 32,
   'case_prison': 0,
   'case_walkin': 11027,
   'case_new_prev': 11145,
   'case_new_diff': 1292,
   'death_new_prev': 21,
   'death_new_diff': 8,
   'update_date': '2023-11-05 18:50:43'},
  {'year': 2021,
   'weeknum': 17,
   'new_case': 14022,
   'total_case': 67044,
   'new_case_excludeabroad': 13972,
   'total_case_excludeabroad': 63730,
   'new_recovered': 7509,
   'total_recovered': 38075,
   'new_death': 95,
   'total_death': 224,
   'case_foreign': 50,
   'case_prison': 0,
   'case_walkin': 13179,
   'case_new_prev': 14970,
   'case_new_diff': -948,
   'death_new_prev': 82,
   'death_new_diff': 13,
   'update_date': '2023-11-05 18:50:43'},
  {'year': 2021,
   'weeknum': 18,
   'new_case': 14230,
   'total_case': 81274,
   'new_case_excludeabroad': 14178,
   'total_case_excludeabroad': 77908,
   'new_recovered': 13344,
   'total_recovered': 51419,
   'new_death': 158,
   'total_death': 382,
   'case_foreign': 52,
   'case_prison': 1,
   'case_walkin': 12665,
   'case_new_prev': 13702,
   'case_new_diff': 528,
   'death_new_prev': 160,
   'death_new_diff': -2,
   'update_date': '2023-11-05 18:50:43'},
  {'year': 2021,
   'weeknum': 19,
   'new_case': 17871,
   'total_case': 99145,
   'new_case_excludeabroad': 17798,
   'total_case_excludeabroad': 95706,
   'new_recovered': 12248,
   'total_recovered': 63667,
   'new_death': 183,
   'total_death': 565,
   'case_foreign': 73,
   'case_prison': 3896,
   'case_walkin': 10007,
   'case_new_prev': 17195,
   'case_new_diff': 676,
   'death_new_prev': 185,
   'death_new_diff': -2,
   'update_date': '2023-11-05 18:50:43'},
  {'year': 2021,
   'weeknum': 20,
   'new_case': 26973,
   'total_case': 126118,
   'new_case_excludeabroad': 26790,
   'total_case_excludeabroad': 122496,
   'new_recovered': 18737,
   'total_recovered': 82404,
   'new_death': 194,
   'total_death': 759,
   'case_foreign': 183,
   'case_prison': 11260,
   'case_walkin': 11515,
   'case_new_prev': 27016,
   'case_new_diff': -43,
   'death_new_prev': 187,
   'death_new_diff': 7,
   'update_date': '2023-11-05 18:50:43'},
  {'year': 2021,
   'weeknum': 21,
   'new_case': 23661,
   'total_case': 149779,
   'new_case_excludeabroad': 23482,
   'total_case_excludeabroad': 145978,
   'new_recovered': 19907,
   'total_recovered': 102311,
   'new_death': 229,
   'total_death': 988,
   'case_foreign': 179,
   'case_prison': 7242,
   'case_walkin': 8753,
   'case_new_prev': 21910,
   'case_new_diff': 1751,
   'death_new_prev': 219,
   'death_new_diff': 10,
   'update_date': '2023-11-05 18:50:43'},
  {'year': 2021,
   'weeknum': 22,
   'new_case': 25017,
   'total_case': 174796,
   'new_case_excludeabroad': 24741,
   'total_case_excludeabroad': 170719,
   'new_recovered': 21782,
   'total_recovered': 124093,
   'new_death': 225,
   'total_death': 1213,
   'case_foreign': 276,
   'case_prison': 6753,
   'case_walkin': 9067,
   'case_new_prev': 27003,
   'case_new_diff': -1986,
   'death_new_prev': 223,
   'death_new_diff': 2,
   'update_date': '2023-11-05 18:50:43'},
  {'year': 2021,
   'weeknum': 23,
   'new_case': 18309,
   'total_case': 193105,
   'new_case_excludeabroad': 18070,
   'total_case_excludeabroad': 188789,
   'new_recovered': 26178,
   'total_recovered': 150271,
   'new_death': 218,
   'total_death': 1431,
   'case_foreign': 239,
   'case_prison': 2797,
   'case_walkin': 9974,
   'case_new_prev': 17849,
   'case_new_diff': 460,
   'death_new_prev': 225,
   'death_new_diff': -7,
   'update_date': '2023-11-05 18:50:43'},
  {'year': 2021,
   'weeknum': 24,
   'new_case': 21344,
   'total_case': 214449,
   'new_case_excludeabroad': 21165,
   'total_case_excludeabroad': 209954,
   'new_recovered': 31087,
   'total_recovered': 181358,
   'new_death': 178,
   'total_death': 1609,
   'case_foreign': 179,
   'case_prison': 3210,
   'case_walkin': 13056,
   'case_new_prev': 20954,
   'case_new_diff': 390,
   'death_new_prev': 175,
   'death_new_diff': 3,
   'update_date': '2023-11-05 18:50:43'},
  {'year': 2021,
   'weeknum': 25,
   'new_case': 26002,
   'total_case': 240451,
   'new_case_excludeabroad': 25806,
   'total_case_excludeabroad': 235760,
   'new_recovered': 15317,
   'total_recovered': 196675,
   'new_death': 261,
   'total_death': 1870,
   'case_foreign': 196,
   'case_prison': 1292,
   'case_walkin': 17280,
   'case_new_prev': 25509,
   'case_new_diff': 493,
   'death_new_prev': 242,
   'death_new_diff': 19,
   'update_date': '2023-11-05 18:50:43'},
  {'year': 2021,
   'weeknum': 26,
   'new_case': 36700,
   'total_case': 277151,
   'new_case_excludeabroad': 36583,
   'total_case_excludeabroad': 272343,
   'new_recovered': 20824,
   'total_recovered': 217499,
   'new_death': 312,
   'total_death': 2182,
   'case_foreign': 117,
   'case_prison': 736,
   'case_walkin': 25413,
   'case_new_prev': 34630,
   'case_new_diff': 2070,
   'death_new_prev': 322,
   'death_new_diff': -10,
   'update_date': '2023-11-05 18:50:43'},
  {'year': 2021,
   'weeknum': 27,
   'new_case': 49681,
   'total_case': 326832,
   'new_case_excludeabroad': 49588,
   'total_case_excludeabroad': 321931,
   'new_recovered': 26419,
   'total_recovered': 243918,
   'new_death': 443,
   'total_death': 2625,
   'case_foreign': 93,
   'case_prison': 753,
   'case_walkin': 35207,
   'case_new_prev': 46585,
   'case_new_diff': 3096,
   'death_new_prev': 393,
   'death_new_diff': 50,
   'update_date': '2023-11-05 18:50:43'},
  {'year': 2021,
   'weeknum': 28,
   'new_case': 65157,
   'total_case': 391989,
   'new_case_excludeabroad': 65016,
   'total_case_excludeabroad': 386947,
   'new_recovered': 34266,
   'total_recovered': 278184,
   'new_death': 615,
   'total_death': 3240,
   'case_foreign': 141,
   'case_prison': 1272,
   'case_walkin': 47998,
   'case_new_prev': 64401,
   'case_new_diff': 756,
   'death_new_prev': 565,
   'death_new_diff': 50,
   'update_date': '2023-11-05 18:50:43'},
  {'year': 2021,
   'weeknum': 29,
   'new_case': 89978,
   'total_case': 481967,
   'new_case_excludeabroad': 89878,
   'total_case_excludeabroad': 476825,
   'new_recovered': 49605,
   'total_recovered': 327789,
   'new_death': 690,
   'total_death': 3930,
   'case_foreign': 100,
   'case_prison': 4334,
   'case_walkin': 64132,
   'case_new_prev': 85800,
   'case_new_diff': 4178,
   'death_new_prev': 712,
   'death_new_diff': -22,
   'update_date': '2023-11-05 18:50:43'},
  {'year': 2021,
   'weeknum': 30,
   'new_case': 115320,
   'total_case': 597287,
   'new_case_excludeabroad': 115203,
   'total_case_excludeabroad': 592028,
   'new_recovered': 64131,
   'total_recovered': 391920,
   'new_death': 927,
   'total_death': 4857,
   'case_foreign': 117,
   'case_prison': 3881,
   'case_walkin': 87624,
   'case_new_prev': 110668,
   'case_new_diff': 4652,
   'death_new_prev': 868,
   'death_new_diff': 59,
   'update_date': '2023-11-05 18:50:43'},
  {'year': 2021,
   'weeknum': 31,
   'new_case': 139235,
   'total_case': 736522,
   'new_case_excludeabroad': 139172,
   'total_case_excludeabroad': 731200,
   'new_recovered': 125092,
   'total_recovered': 517012,
   'new_death': 1209,
   'total_death': 6066,
   'case_foreign': 63,
   'case_prison': 3148,
   'case_walkin': 111450,
   'case_new_prev': 136309,
   'case_new_diff': 2926,
   'death_new_prev': 1175,
   'death_new_diff': 34,
   'update_date': '2023-11-05 18:50:43'},
  {'year': 2021,
   'weeknum': 32,
   'new_case': 148753,
   'total_case': 885275,
   'new_case_excludeabroad': 148675,
   'total_case_excludeabroad': 879875,
   'new_recovered': 150544,
   'total_recovered': 667556,
   'new_death': 1277,
   'total_death': 7343,
   'case_foreign': 78,
   'case_prison': 2267,
   'case_walkin': 119216,
   'case_new_prev': 148505,
   'case_new_diff': 248,
   'death_new_prev': 1272,
   'death_new_diff': 5,
   'update_date': '2023-11-05 18:50:43'},
  {'year': 2021,
   'weeknum': 33,
   'new_case': 145006,
   'total_case': 1030281,
   'new_case_excludeabroad': 144919,
   'total_case_excludeabroad': 1024794,
   'new_recovered': 151408,
   'total_recovered': 818964,
   'new_death': 1744,
   'total_death': 9087,
   'case_foreign': 87,
   'case_prison': 2131,
   'case_walkin': 118815,
   'case_new_prev': 146521,
   'case_new_diff': -1515,
   'death_new_prev': 1700,
   'death_new_diff': 44,
   'update_date': '2023-11-05 18:50:43'},
  {'year': 2021,
   'weeknum': 34,
   'new_case': 127274,
   'total_case': 1157555,
   'new_case_excludeabroad': 127216,
   'total_case_excludeabroad': 1152010,
   'new_recovered': 145355,
   'total_recovered': 964319,
   'new_death': 1792,
   'total_death': 10879,
   'case_foreign': 58,
   'case_prison': 1737,
   'case_walkin': 110796,
   'case_new_prev': 129861,
   'case_new_diff': -2587,
   'death_new_prev': 1761,
   'death_new_diff': 31,
   'update_date': '2023-11-05 18:50:43'},
  {'year': 2021,
   'weeknum': 35,
   'new_case': 107527,
   'total_case': 1265082,
   'new_case_excludeabroad': 107471,
   'total_case_excludeabroad': 1259481,
   'new_recovered': 132998,
   'total_recovered': 1097317,
   'new_death': 1752,
   'total_death': 12631,
   'case_foreign': 56,
   'case_prison': 2018,
   'case_walkin': 92336,
   'case_new_prev': 109569,
   'case_new_diff': -2042,
   'death_new_prev': 1787,
   'death_new_diff': -35,
   'update_date': '2023-11-05 18:50:43'},
  {'year': 2021,
   'weeknum': 36,
   'new_case': 103062,
   'total_case': 1368144,
   'new_case_excludeabroad': 102963,
   'total_case_excludeabroad': 1362444,
   'new_recovered': 118795,
   'total_recovered': 1216112,
   'new_death': 1542,
   'total_death': 14173,
   'case_foreign': 99,
   'case_prison': 3634,
   'case_walkin': 86617,
   'case_new_prev': 103813,
   'case_new_diff': -751,
   'death_new_prev': 1546,
   'death_new_diff': -4,
   'update_date': '2023-11-05 18:50:43'},
  {'year': 2021,
   'weeknum': 37,
   'new_case': 94757,
   'total_case': 1462901,
   'new_case_excludeabroad': 94691,
   'total_case_excludeabroad': 1457135,
   'new_recovered': 101415,
   'total_recovered': 1317527,
   'new_death': 1073,
   'total_death': 15246,
   'case_foreign': 66,
   'case_prison': 3199,
   'case_walkin': 82206,
   'case_new_prev': 95839,
   'case_new_diff': -1082,
   'death_new_prev': 1204,
   'death_new_diff': -131,
   'update_date': '2023-11-05 18:50:43'},
  {'year': 2021,
   'weeknum': 38,
   'new_case': 86384,
   'total_case': 1549285,
   'new_case_excludeabroad': 86291,
   'total_case_excludeabroad': 1543426,
   'new_recovered': 91075,
   'total_recovered': 1408602,
   'new_death': 897,
   'total_death': 16143,
   'case_foreign': 93,
   'case_prison': 2443,
   'case_walkin': 75257,
   'case_new_prev': 88518,
   'case_new_diff': -2134,
   'death_new_prev': 892,
   'death_new_diff': 5,
   'update_date': '2023-11-05 18:50:43'},
  {'year': 2021,
   'weeknum': 39,
   'new_case': 77319,
   'total_case': 1626604,
   'new_case_excludeabroad': 77229,
   'total_case_excludeabroad': 1620655,
   'new_recovered': 87671,
   'total_recovered': 1496273,
   'new_death': 794,
   'total_death': 16937,
   'case_foreign': 90,
   'case_prison': 1911,
   'case_walkin': 68358,
   'case_new_prev': 77918,
   'case_new_diff': -599,
   'death_new_prev': 834,
   'death_new_diff': -40,
   'update_date': '2023-11-05 18:50:43'},
  {'year': 2021,
   'weeknum': 40,
   'new_case': 73463,
   'total_case': 1700067,
   'new_case_excludeabroad': 73364,
   'total_case_excludeabroad': 1694019,
   'new_recovered': 76059,
   'total_recovered': 1572332,
   'new_death': 670,
   'total_death': 17607,
   'case_foreign': 99,
   'case_prison': 1061,
   'case_walkin': 66359,
   'case_new_prev': 74209,
   'case_new_diff': -746,
   'death_new_prev': 684,
   'death_new_diff': -14,
   'update_date': '2023-11-05 18:50:43'},
  {'year': 2021,
   'weeknum': 41,
   'new_case': 72771,
   'total_case': 1772838,
   'new_case_excludeabroad': 72539,
   'total_case_excludeabroad': 1766558,
   'new_recovered': 74923,
   'total_recovered': 1647255,
   'new_death': 598,
   'total_death': 18205,
   'case_foreign': 232,
   'case_prison': 861,
   'case_walkin': 67347,
   'case_new_prev': 72753,
   'case_new_diff': 18,
   'death_new_prev': 589,
   'death_new_diff': 9,
   'update_date': '2023-11-05 18:50:43'},
  {'year': 2021,
   'weeknum': 42,
   'new_case': 68293,
   'total_case': 1841131,
   'new_case_excludeabroad': 68196,
   'total_case_excludeabroad': 1834754,
   'new_recovered': 73374,
   'total_recovered': 1720629,
   'new_death': 494,
   'total_death': 18699,
   'case_foreign': 97,
   'case_prison': 523,
   'case_walkin': 63947,
   'case_new_prev': 69198,
   'case_new_diff': -905,
   'death_new_prev': 502,
   'death_new_diff': -8,
   'update_date': '2023-11-05 18:50:43'},
  {'year': 2021,
   'weeknum': 43,
   'new_case': 62034,
   'total_case': 1903165,
   'new_case_excludeabroad': 61956,
   'total_case_excludeabroad': 1896710,
   'new_recovered': 63246,
   'total_recovered': 1783875,
   'new_death': 459,
   'total_death': 19158,
   'case_foreign': 78,
   'case_prison': 1162,
   'case_walkin': 57524,
   'case_new_prev': 62553,
   'case_new_diff': -519,
   'death_new_prev': 445,
   'death_new_diff': 14,
   'update_date': '2023-11-05 18:50:43'},
  {'year': 2021,
   'weeknum': 44,
   'new_case': 56874,
   'total_case': 1960039,
   'new_case_excludeabroad': 56797,
   'total_case_excludeabroad': 1953507,
   'new_recovered': 59143,
   'total_recovered': 1843018,
   'new_death': 453,
   'total_death': 19611,
   'case_foreign': 77,
   'case_prison': 3525,
   'case_walkin': 51705,
   'case_new_prev': 57631,
   'case_new_diff': -757,
   'death_new_prev': 472,
   'death_new_diff': -19,
   'update_date': '2023-11-05 18:50:43'},
  {'year': 2021,
   'weeknum': 45,
   'new_case': 51292,
   'total_case': 2011331,
   'new_case_excludeabroad': 51203,
   'total_case_excludeabroad': 2004710,
   'new_recovered': 52911,
   'total_recovered': 1895929,
   'new_death': 378,
   'total_death': 19989,
   'case_foreign': 89,
   'case_prison': 2500,
   'case_walkin': 46698,
   'case_new_prev': 52702,
   'case_new_diff': -1410,
   'death_new_prev': 392,
   'death_new_diff': -14,
   'update_date': '2023-11-05 18:50:43'},
  {'year': 2021,
   'weeknum': 46,
   'new_case': 46244,
   'total_case': 2057575,
   'new_case_excludeabroad': 46154,
   'total_case_excludeabroad': 2050864,
   'new_recovered': 53403,
   'total_recovered': 1949332,
   'new_death': 369,
   'total_death': 20358,
   'case_foreign': 90,
   'case_prison': 1393,
   'case_walkin': 42990,
   'case_new_prev': 46706,
   'case_new_diff': -462,
   'death_new_prev': 371,
   'death_new_diff': -2,
   'update_date': '2023-11-05 18:50:43'},
  {'year': 2021,
   'weeknum': 47,
   'new_case': 43384,
   'total_case': 2100959,
   'new_case_excludeabroad': 43244,
   'total_case_excludeabroad': 2094108,
   'new_recovered': 51170,
   'total_recovered': 2000502,
   'new_death': 319,
   'total_death': 20677,
   'case_foreign': 140,
   'case_prison': 2607,
   'case_walkin': 39243,
   'case_new_prev': 43906,
   'case_new_diff': -522,
   'death_new_prev': 340,
   'death_new_diff': -21,
   'update_date': '2023-11-05 18:50:43'},
  {'year': 2021,
   'weeknum': 48,
   'new_case': 35578,
   'total_case': 2136537,
   'new_case_excludeabroad': 35509,
   'total_case_excludeabroad': 2129617,
   'new_recovered': 42164,
   'total_recovered': 2042666,
   'new_death': 240,
   'total_death': 20917,
   'case_foreign': 69,
   'case_prison': 2284,
   'case_walkin': 32050,
   'case_new_prev': 35755,
   'case_new_diff': -177,
   'death_new_prev': 235,
   'death_new_diff': 5,
   'update_date': '2023-11-05 18:50:43'},
  {'year': 2021,
   'weeknum': 49,
   'new_case': 28322,
   'total_case': 2164859,
   'new_case_excludeabroad': 28218,
   'total_case_excludeabroad': 2157835,
   'new_recovered': 47587,
   'total_recovered': 2090253,
   'new_death': 234,
   'total_death': 21151,
   'case_foreign': 104,
   'case_prison': 208,
   'case_walkin': 27281,
   'case_new_prev': 30139,
   'case_new_diff': -1817,
   'death_new_prev': 232,
   'death_new_diff': 2,
   'update_date': '2023-11-05 18:50:43'},
  {'year': 2021,
   'weeknum': 50,
   'new_case': 23770,
   'total_case': 2188629,
   'new_case_excludeabroad': 23619,
   'total_case_excludeabroad': 2181454,
   'new_recovered': 33716,
   'total_recovered': 2123969,
   'new_death': 204,
   'total_death': 21355,
   'case_foreign': 151,
   'case_prison': 554,
   'case_walkin': 22751,
   'case_new_prev': 24717,
   'case_new_diff': -947,
   'death_new_prev': 215,
   'death_new_diff': -11,
   'update_date': '2023-11-05 18:50:43'},
  {'year': 2021,
   'weeknum': 51,
   'new_case': 18809,
   'total_case': 2207438,
   'new_case_excludeabroad': 18467,
   'total_case_excludeabroad': 2199921,
   'new_recovered': 24788,
   'total_recovered': 2148757,
   'new_death': 203,
   'total_death': 21558,
   'case_foreign': 342,
   'case_prison': 307,
   'case_walkin': 17758,
   'case_new_prev': 19175,
   'case_new_diff': -366,
   'death_new_prev': 201,
   'death_new_diff': 2,
   'update_date': '2023-11-05 18:50:43'},
  {'year': 2021,
   'weeknum': 52,
   'new_case': 15997,
   'total_case': 2223435,
   'new_case_excludeabroad': 15410,
   'total_case_excludeabroad': 2215331,
   'new_recovered': 19737,
   'total_recovered': 2168494,
   'new_death': 140,
   'total_death': 21698,
   'case_foreign': 587,
   'case_prison': 370,
   'case_walkin': 14757,
   'case_new_prev': 15652,
   'case_new_diff': 345,
   'death_new_prev': 144,
   'death_new_diff': -4,
   'update_date': '2023-11-05 18:50:43'}],
 'links': {'first': 'https://covid19.ddc.moph.go.th/api/Cases/report-round-3-y21-line-lists?page=1',
  'last': 'https://covid19.ddc.moph.go.th/api/Cases/report-round-3-y21-line-lists?page=1',
  'prev': None,
  'next': None},
 'meta': {'current_page': 1,
  'from': 1,
  'last_page': 1,
  'links': [{'url': None, 'label': '&laquo; Previous', 'active': False},
   {'url': 'https://covid19.ddc.moph.go.th/api/Cases/report-round-3-y21-line-lists?page=1',
    'label': '1',
    'active': True},
   {'url': None, 'label': 'Next &raquo;', 'active': False}],
  'path': 'https://covid19.ddc.moph.go.th/api/Cases/report-round-3-y21-line-lists',
  'per_page': 1000,
  'to': 40,
  'total': 40}}