# SqlAlchemy

In [12]:
import pandas as pd
from sqlalchemy import create_engine, text, inspect

In [17]:
engine = create_engine('mssql+pymssql://sa:Password!@localhost/mydb?charset=utf8')

In [20]:
with engine.connect() as conn:
    conn.execute(text('CREATE TABLE mytbl55 (id int, fname text)'))

OperationalError: (pymssql._pymssql.OperationalError) (156, b"Incorrect syntax near the keyword 'IF'.DB-Lib error message 20018, severity 15:\nGeneral SQL Server error: Check messages from the SQL Server\nDB-Lib error message 20018, severity 15:\nGeneral SQL Server error: Check messages from the SQL Server\n")
[SQL: CREATE TABLE IF NOT EXISTS mytbl55 (id int, fname text)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

## Inspector

In [6]:
inspector = inspect(engine)

In [7]:
schemas = inspector.get_schema_names()
schemas

['db_accessadmin',
 'db_backupoperator',
 'db_datareader',
 'db_datawriter',
 'db_ddladmin',
 'db_denydatareader',
 'db_denydatawriter',
 'db_owner',
 'db_securityadmin',
 'dbo',
 'guest',
 'INFORMATION_SCHEMA',
 'sys']

In [8]:
schema = schemas[0]
table_names = inspector.get_table_names(schema=schema)
table_names

[]

In [23]:
table_name = table_names[0]
columns = inspector.get_columns(table_name, schema=schema)
columns

IndexError: list index out of range

In [24]:
url = "https://raw.githubusercontent.com/ywchiu/riii/master/data/house-prices.csv"
df = pd.read_csv(url)
df

     Home   Price  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
0       1  114300  1790         2          2       2    No         East
1       2  114200  2030         4          2       3    No         East
2       3  114800  1740         3          2       1    No         East
3       4   94700  1980         3          2       3    No         East
4       5  119800  2130         3          3       3    No         East
..    ...     ...   ...       ...        ...     ...   ...          ...
123   124  119700  1900         3          3       3   Yes         East
124   125  147900  2160         4          3       3   Yes         East
125   126  113500  2070         2          2       2    No        North
126   127  149900  2020         3          3       1    No         West
127   128  124600  2250         3          3       4    No        North

[128 rows x 8 columns]